<ol id="author">
    <li class="author-li">Nombre:Oliver Alexander Ceron Interian</li>
    <li class="author-li">Edad:21 años</li>
    <li class="author-li"> <img src="/images/picture.jpg"> </li>

</ol>