<ul id="author">
    <li class="author-li"> <b>Autor:</b> Oliver Alexander Ceron Interian</li>
    <li class="author-li">Edad:21 años</li>
    <li class="author-li"> <img src="/images/picture.jpg"> </li>
    <li class="author-li"> 
       
    </li>
</ul>